
body { background-color: black;}

img {width: 300px;height: 200px; border: 2px solid chocolate;border-radius: 1rem;
    margin: 5px;}

div{
    display: flex;flex-wrap: wrap;justify-content: center;
    align-items: center;

}
h1 {color: whitesmoke;text-align: center;font-family: 'Akronim', cursive;}
header {text-align: center;}

.text {font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size: larger;
color: whitesmoke;}



footer {text-align: center;}
